*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  user-select: none;
}

:root {
  --bg-color: #101025;
  --font-size: clamp(24px, 14vw, 240px);
}

.board {
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size);
  position: relative;
  z-index: 0;
  font-family: sans-serif;
  overflow: hidden;
  color: #fff;
  animation: 1s fadeScreen;
}

.fullscreen div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s;
}


.item1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.item2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: right;
  background: linear-gradient(150deg, #00000000 55%, #000000);
  opacity: 1;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: fadeItem;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.item2-0 {
  font-size: 0.3em;
  padding-right: 0.3em;
}
.item2-1 {
  font-size: 1em;
}

.item2-2 {
  font-size: 0.5em;
}

.item2-2-2 {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item2-3 {
  font-size: 0.1em;
  opacity: 0.7;
}

@keyframes fadeItem {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeScreen {
  from {
    filter: opacity(0) blur(10px);
  }

  25% {
    filter: blur(0);
  }

  to {
    filter: opacity(100%) blur(0);
  }
}

.warning{
  color: rgb(250, 154, 28);
  font-size: 1rem;
}